.colhead img,
.colhead_dark img {
  max-width: 16px;
  max-height: 16px;
}

tr.group td {
  @apply --group-info;
  vertical-align: middle;
}

.edition_info {
  @apply --edition-info;
  min-height: 30px;
  padding: 10px;
  & strong { font-weight: normal; }
}

span.add_bookmark,
span.remove_bookmark{
  & a {
    margin-left: 8px;
    margin-right: 0;
  }
}

.group {
  & a {
    color: var(--action-color-alt);
  }
  & .tags a {
    @apply --tag-dark;
  }
}

.number_column {
  text-align: center;
}

.votespan.brackets {
  &:before, &:after { display: none }
  margin-left: 10px;
}

.torrent_table.details tr.torrent_row td:first-child > span,
.torrent_table tr.torrent_row td:first-child > span,
.torrent_table tr.group_torrent td:first-child > span,
.big_info .group_info > span,
.torrent_links_block{
  float: right;
  font-size: 0;
  & > * {
    font-size: 16px;
    @apply --small-button-light;
    margin-right: 10px;
  }
}

.group_info {
  & .tags {
    white-space: normal;
  }
  & span.add_bookmark,
  & span.remove_bookmark{
    float: none;
  }
}

.torrentdetails blockquote .time {
  color: #eee;
}

.tl_reported {
  background: color(var(--red) a(70%));
  font-weight: 200;
  display: inline-flex;
  align-items: center;
  height: 18px;
  justify-content: center;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 12px;
}

.time {
    font-style: italic;
    color: var(--time-color);
}
.head .time,
.group .time,
.colhead .time,
.colhead_dark .time {
  color: var(--time-color-alt);
}
