#searchbars {
  background: var(--bg-content);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  & > ul {
    display: flex;
    & li {
      flex: 1;
      border-right: var(--searchbars-inputs-border);
      & input {
        @apply --searchbars-inputs;
        border-bottom: var(--searchbars-inputs-border);
      }
      &:last-child { border-right: 0; }
      &:first-child input {
        padding-left: 20px;
        border-left: var(--searchbars-inputs-border);
      }
      &:last-child input {
        padding-right: 20px;
        border-right: var(--searchbars-inputs-border);
      }
    }
  }
}

#searchbars form ul li {
  cursor: pointer;
  display: block;
  padding: 0 5px;
}

#searchbars input {
  padding: 0 34px 0 10px;
  width: 100%;
  border-radius: 0;
  border: 0;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  @media(--large-and-less) {
    background-size: 14px 14px;
  }
  @media(--wide) {
    background-size: 16px 16px;
  }
}

#searchbars input#torrentssearch {
    background-image: svg-load('folder-dl.svg', fill: #333);
}

#searchbars input#artistsearch {
    background-image: svg-load('microphone.svg', fill: #333);
}

#searchbars input#forumssearch {
    background-image: svg-load('bubble.svg', fill: #333);
}
#searchbars input#requestssearch {
    background-image: svg-load('search.svg', fill: #333);
}
#searchbars input#logsearch {
    background-image: svg-load('time.svg', fill: #333);
}
#searchbars input#userssearch {
    background-image: svg-load('user.svg', fill: #333);
}
