:root {
  --bg-body: #222;
  --bg-content: #d6d4d4;
  --text-color: #222;
  --action-color: #666;
  --green: #81a24e;
  --red: rgb(130, 5, 31);
  --orange: #dc6e32;

  --autocomplete-color: #dadada;
  --autocomplete-bg: rgba(0,0,0,0.90);
  --autocomplete-highlight: #8a8a8a;

  --colhead-bg: #222;

  --h2-color: #636363;
  --h3-color: #383838;

  --edition-info: {
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(0,0,0,0.7);
    color: #dadada;
  }

  --group-info: {
    background: rgba(0,0,0,.81);
    border-top: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    color: #c2c2c2;
    & a {
      color: #eee;
      &:hover { color: color(#eee lightness(-9%)); }
    }
  }

  --time-color: #282828;
  --time-color-alt: #b5b5b5;

  --row-bg: rgba(0,0,0,0.1);
  --row-hover: rgba(255,255,255,0.2);

  --usermenu: {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 30px;
  }

  --box-heading-alt: {
    background: #3e3e3e;
    color: #eee;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 30px;
    vertical-align: middle;
  }

  --text-field: {
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    color: #666;
    &:focus {
      color: #444;
      border: 1px solid rgba(0,0,0,.8);
    }
  }

  --menu-bg: #181818;

  --searchbars-inputs-border: 1px solid #ccc; 
  --searchbars-inputs: {
      border-bottom:1px solid #ccc;
      background: #eee;
      &:focus { background: #fff }
    }

  --button: {
    background-color: #dadada;
    color: #666;
    border: 1px solid rgba(0,0,0,0.3);
    &:hover, &:active, &:focus {
      background-color: color(#dadada lightness(+4%));
      border: 1px solid rgba(0,0,0,.2);
    }
  }

  --select-arrow: 'select-arrow.png';

  --small-button: {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    font-weight: 300;
    border-radius: 3px;
    letter-spacing: 0.01em;
  }

  --small-button-light: {
    @apply --small-button;
    background: #dadada;
    color: #666;
    border: 1px solid rgba(0, 0, 0, 0.3);

    &:not(strong):hover, &:focus {
      //border-color: rgba(0, 0, 0, 0.2);
      //background: rgba(0, 0, 0, 0.7);
      color: #222;
      background-color: color(#dadada lightness(+4%));
      border-color: 1px solid rgba(0,0,0,.2);
    }
  }

  --small-button-dark: {
    @apply --small-button;
    background: rgba(0, 0, 0, 0.2);
    color: #eee;
    &:hover, &:focus {
      border-color: rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.7);
      color: rgba(255, 255, 255, 0.9);
    }
  }

  --tag: {
    background: color(#ccc a(7%));
    font-size: 12px;
    color: #353535;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid color(#333 a(50%));
    display: inline-flex;
    height: 1.05rem;
    align-items: center;
    margin-top: 4px;
    &:hover {
      background: color(#353535 lightness(+5%));
      color: #ddd;
    }
  }

  --wrapper-size : {
    max-width: 100vw;
    @media (--medium) { max-width: 850px; }
    @media (--large) { max-width: 1000px; }
    @media (--wide) { max-width: 1400px; }
  }

}
